#!/usr/bin/env ruby

# So I can use compass
require 'compass'
Compass.add_project_configuration 'compass_config.rb'

# Generate Slugs
require 'to_slug'

# Process Pandoc in :title attributes
require 'pandoc-ruby'
require 'hpricot'

preprocess do
  # Delete Drafts
  @items.delete_if { |i| i[:draft] }

  # Process Pandoc in :title attributes
  @items.each do |item|
    if item[:title]
      item[:orignal_title] = item[:title]
      title = item[:title]
      title = PandocRuby.convert(title)
      html = Hpricot(title)
      titles = html.search("p")
      title = titles[0].inner_html
      item[:title] = title
    end
  end

  # Mark assets with the 'is_hidden' attribute so they don't appear in the site
  # map. Note things from the static fs are automatically marked as hidden.
  @items.each do |item|
    if item[:filename].start_with? 'content/assets/'
      item[:is_hidden] = true
    end
  end
end

# Don't compile partials
ignore '**/_*'

compile '/assets/stylesheets/*' do
  filter :sass, Compass.sass_engine_options
end

compile '/posts/*' do
  ext = item.identifier.ext
  if ext == 'pandoc'
    filter :pandoc, args: [:no_highlight]
    filter :pygments
  else
    raise "Unknown ext: #{ext} with item: #{item.attributes}"
  end

  layout '/default.haml'
end


compile '**/*' do
  if item.binary?
    # don’t filter binary items
  else
    ext = item.identifier.ext
    if ext == 'haml'
      filter :haml, :format => :html5
    elsif ext == 'pandoc'
      filter :pandoc
    elsif ext == 'tex'
      filter :latex
    elsif ext == 'erb'
      filter :erb
    elsif ext =='txt'
      # no filter
    else
      raise "WHAT IS THIS EXT (#{ext})? While processing #{item.identifier}"
    end

    if item[:layout] != 'none' && ext != 'tex' && ext != 'txt'
      layout "/default.haml"
    end
  end
end

route '/assets/stylesheets/*' do
  item.identifier.without_ext + '.css'
end

route '/posts/*' do
  date = item[:created_at]
  raise "No Posted Date!" if date.nil?

  slug = item[:orignal_title].to_slug

  "/blog/#{date.year}/#{date.month}/#{date.day}/#{slug}/index.html"

end

route '/sitemap.xml.erb' do
  "/sitemap.xml"
end

route '/robots.txt' do
  "/robots.txt"
end

route '/index.haml' do
  '/index.html'
end

route '**/*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.without_ext + '.' + item.identifier.ext
  elsif item.identifier.ext == 'tex'
    item.identifier.without_ext + '.pdf'
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier.without_ext + '/index.html'
  end
end

layout '**/*', :haml, :format => :html5
