---
title: Blog

---

%ul.post-list
  - sorted_articles.each do |a|
    %li
      = link_to a[:title], a.path
      %time.date{:datetime => a[:created_at].strftime("%F")}
        = a[:created_at].strftime("%B %d %Y")

