#greeting
  :markdown
    Hello, I'm [Zameer](/about/) and this is my website.

    I'm a [uWaterloo](http://uwaterloo.ca) Software Engineering graduate from Toronto.

    I [blog](/blog/) here and show off my [résumé](/resume.pdf).

    Feel free to drop me an [email](mailto:hi@zameermanji.com).
