$base-font-size: 20px;

@import "compass/typography/vertical_rhythm";
@import "compass/typography/lists/horizontal-list";
@import "compass/css3/border-radius";

// For vertical rhythm
@include establish-baseline;

$font-color: black;
$page-width: 750px;

body {
  font-family: 'Droid Serif', serif;
  color: $font-color;
  background-color: white;
  text-rendering: optimizeLegibility;

  margin: 0 auto;
  width: $page-width;
}

a {
  color: lighten($font-color, 30);
  text-decoration: none;
}

a:visited, a:hover {
  color: lighten($font-color, 30);
  text-decoration: underline;
}

h1 {
  @include adjust-font-size-to(40px);
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

h2 {
  @include adjust-font-size-to(30px);
  margin-bottom: 0.5em;
}

h3 {
  @include adjust-font-size-to(24px);
  margin-bottom: 0.5em;
}

footer {
  border-top: 1px solid darken($font-color, 50);
  padding-top: 5px;
  text-align: center;

  @include adjust-font-size-to(12px);
  font-style: italic;
}

header {
  width: $page-width;
  float: left;
  text-transform: uppercase;
  @include adjust-font-size-to(20px);

  nav {
    float: right;
  }

  nav ul {
    text-transform: lowercase;
    @include horizontal-list;
  }

  border-bottom: 1px solid darken($font-color, 50);
}

pre, code, kbd {
  font-family: 'Inconsolata', monospace;
}

blockquote {
  padding-left: 1.5em;
  font-style: italic;
  border-left: 2px solid gray;
  @include adjust-font-size-to(18px);
}

.small {
  @include adjust-font-size-to(12px);
}

.company-term, .course-term {
  text-align: right;
  float: right;
}

ul.post-list {
  padding: 0px;
  li {
    list-style: none;
    .date {
      float: right;
      font-style: italic;
      text-align: right;
    }
  }
}


// Pygments code boxes
.highlight {
  padding: 10px;
  margin: 20px 0;
  overflow-x: auto;
  @include border-radius(10px);
}

.posted {
  color: lighten($font-color,10);
  font-style: italic;
  text-align: left;
  margin-top: -20px;
  margin-bottom: 20px;
  @include adjust-font-size-to(13px);
}


#greeting {
  @include adjust-font-size-to(22px);
  text-align: center;
  padding-top: 1em;
  // padding-bottom: 1em;
}

#content
{
  clear: both;
}
