@import "normalize";
@include normalize;

$base-font-size: 20px;
$base-line-height: 30px;

@import "compass/typography/vertical_rhythm";
@import "compass/typography/lists/horizontal-list";
@import "compass/css3/border-radius";

// For vertical rhythm
@include establish-baseline;

$font-color: #444;
$border-color: darken(black, 50);
$link-color: #666;
$page-width: 700px;

body {
  font-family: 'Lora','Droid Serif', serif;
  color: $font-color;
  background-color: white;
  text-rendering: optimizeLegibility;

  margin: 0 auto;
  padding: 0 25px;
  width: $page-width;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:visited, a:hover {
  color: $link-color;
  text-decoration: underline;
}

h1 {
  @include adjust-font-size-to(40px);
  border-bottom: 1px solid $border-color;
  line-height: 1.1em;
  font-color: #222;
}

h2 {
  @include adjust-font-size-to(30px);
  line-height: 1.1em;
  font-color: #222;
}

h3 {
  @include adjust-font-size-to(24px);
  line-height: 1.1em;
  font-color: #222;
}

footer {
  border-top: 1px solid $border-color;
  padding-top: 5px;
  text-align: center;

  @include adjust-font-size-to(12px);
  font-style: italic;
}

header {
  width: $page-width;
  float: left;
  text-transform: uppercase;
  @include adjust-font-size-to(20px);

  nav {
    float: right;
  }

  nav ul {
    text-transform: lowercase;
    @include horizontal-list;
  }

  border-bottom: 1px solid $border-color;
}

pre, code, kbd {
  font-family: 'Inconsolata', monospace;
}

code, kbd {
  background-color: #F8F8F8;
  border: #DDD;
}

blockquote {
  padding-left: 1.5em;
  font-style: italic;
  border-left: 2px solid gray;
  @include adjust-font-size-to(18px);
}

.small {
  @include adjust-font-size-to(12px);
}

.company-term, .course-term {
  text-align: right;
  float: right;
}

ul.post-list {
  padding: 0px;
  li {
    list-style: none;
    .date {
      float: right;
      font-style: italic;
      text-align: right;
    }
  }
}


// Pygments code boxes
.highlight {
  padding: 10px;
  overflow-x: auto;
  @include border-radius(10px);
  @include adjust-font-size-to(18px);
  line-height: 1.1em;
  pre {
    word-wrap: normal;
    white-space: pre;
  }
}

.posted {
  color: lighten($font-color,10);
  font-style: italic;
  text-align: left;
  margin-top: -20px;
  margin-bottom: 20px;
  @include adjust-font-size-to(13px);
}


#greeting {
  @include adjust-font-size-to(22px);
  text-align: center;
}

#content
{
  clear: both;
}

.footnotes
{
  @include adjust-font-size-to(14px);
}
