@import "compass/typography/vertical_rhythm";
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/text/replacement";
@import "compass/utilities/general/clearfix";

// For vertical rhythm
@include establish-baseline;

$font-color: #333;
$background-color: #ECECEC;
// $background-color: #EEE;

body {
  font-family: 'Droid Serif', serif;
  color: $font-color;
  background-color: $background-color;
  text-rendering: optimizeLegibility;
}

#top {
  header {
    float: left;
    text-transform: uppercase;
    width: 35%;
    @include adjust-font-size-to(20px);
  }
  nav {
    @include horizontal-list;
    float: right;
    text-transform: lowercase;
  }

  padding-bottom: 25px;
  margin-top: 25px;
  border-bottom: 1px solid darken($font-color, 50);
}

.wrap {
  margin: 0 auto;
  width: 50%;
  min-width: 300px;
  max-width: 750px;
}

#greeting {
  @include adjust-font-size-to(24px);
  text-align: center;
}

footer {
  border-top: 1px solid darken($font-color, 50);
  padding-top: 5px;

  text-align: center;

  .three-col {
    @include clearfix;
  }

  #twitter-col {
    float: left;
    width: 30%;
    border-right: 1px solid lighten($font-color, 50);
    padding-right: 2%;
  }

  #github-col{
    float: left;
    width: 30%;
    padding-left: 2%;
    padding-right: 2%;
  }

  #stackoverflow-col {
    float: left;
    width: 30%;
    border-left: 1px solid lighten($font-color,50);
    padding-left: 2%;
  }
}

.twitter-img {
  @include replace-text-with-dimensions("twitter.png");
  display: inline-block;
}

.github-img {
  @include replace-text-with-dimensions("github.png");
  display: inline-block;
}

.stackoverflow-img {
  @include replace-text-with-dimensions("stackoverflow.png");
  display: inline-block;
}

