@import "compass/typography/vertical_rhythm";
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/text/replacement";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";

// For vertical rhythm
@include establish-baseline;

$font-color: #333;
$background-color: darken(white, 5);
// $background-color: #ECECEC;
// $background-color: #EEE;

body {
  font-family: 'Droid Serif', serif;
  color: $font-color;
  background-color: $background-color;
  text-rendering: optimizeLegibility;
  @include adjust-font-size-to(18px);
}

#top {
  header {
    float: left;
    text-transform: uppercase;
    width: 35%;
    @include adjust-font-size-to(20px);
  }
  nav {
    @include horizontal-list;
    float: right;
    text-transform: lowercase;
  }

  padding-bottom: 25px;
  margin-top: 25px;
  border-bottom: 1px solid darken($font-color, 50);
}

.wrap {
  margin: 0 auto;
  width: 650px;
}

#greeting {
  @include adjust-font-size-to(22px);
  text-align: center;
  padding-top: 1em;
  // padding-bottom: 1em;
}

$col-height: 220px;
footer {
  border-top: 1px solid darken($font-color, 50);
  padding-top: 5px;


  text-align: center;

  .three-col {
    @include clearfix;
  }

  #twitter-col {
    float: left;
    width: 30%;
    border-right: 1px solid lighten($font-color, 50);
    padding-right: 2%;
    height: $col-height;
  }

  #github-col{
    float: left;
    width: 30%;
    padding-left: 2%;
    padding-right: 2%;
    height: $col-height;
  }

  #stackoverflow-col {
    float: left;
    width: 30%;
    border-left: 1px solid lighten($font-color,50);
    padding-left: 2%;
    height: $col-height;
  }
}

.twitter-img {
  @include replace-text-with-dimensions("twitter.png");
  display: inline-block;
}

.github-img {
  @include replace-text-with-dimensions("github.png");
  display: inline-block;
}

.stackoverflow-img {
  @include replace-text-with-dimensions("stackoverflow.png");
  display: inline-block;
}

.small {
  @include adjust-font-size-to(12px);
}

#content {
  p {
    margin-bottom: 1.1em;
    @include adjust-font-size-to(18px);
  }

  h1 {
    @include adjust-font-size-to(40px);
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
  }

  h2 {
    @include adjust-font-size-to(30px);
    margin-bottom: 13px;
  }

}

#about {
  ul {
    margin-bottom: 1.1em;
    li {
      list-style: disc;
    }
  }
}

.company-term, .course-term {
  text-align: right;
  float: right;
}

.post-list {
  li {
    list-style: none;
  }
}

em {
  font-style: italic;
}

pre, code, kbd {
  font-family: 'Inconsolata', monospace;
}

// Pygments code boxes
.highlight {
  padding: 10px;
  margin: 20px 0;
  @include border-radius(10px);
}

.posted {
  color: lighten($font-color,10);
  font-style: italic;
  text-align: left;
  margin-top: -20px;
  margin-bottom: 20px;
  @include adjust-font-size-to(13px);
}

blockquote {
  padding-left: 1.5em;
  font-style: italic;
  border-left: 2px solid gray;
  @include adjust-font-size-to(18px);
}
