@import "fonts";
@import "pygments";
@import "vertical-rhythmic";

$font-size: 20px;
$line-height: 30px; // 1.5x ratio.
$font-color: #222;
$border-color: darken(black, 50);
$link-color: #2455c3;
$page-width: 800px;

html {
  @include vr-baseline($font-size, $line-height);

}

body {
  font-family: 'Lora', serif;
  color: $font-color;
  background-color: white;
  text-rendering: optimizeLegibility;

  // push the content a bit down the page
  padding-top: 10px;


  margin: 0 auto;
  width: $page-width;
}

a {
  color: $link-color;
  text-decoration: none;

  code
  {
    background-color: transparent;
  }
}

a:visited, a:hover {
  color: $link-color;
  text-decoration: underline;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2rem;
  line-height: vr(2rem);
  code {
    font-weight: normal;
    background-color: transparent;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: vr(1.5rem);
}

h3 {
  font-size: 1.2rem;
  line-height: vr(1.2rem);
}

footer {
  border-top: 1px solid $border-color;
  text-align: center;

  font-size: 0.6rem;
  line-height: vr(0.6rem);

  font-style: italic;
}

header {
  width: $page-width;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: vr(1.2rem);
  display: flex;
  justify-content: space-between;

  nav ul {
    text-transform: lowercase;
    display: inline-flex;

    // TODO(zmanji): This might be cargo cult uselessness
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;

    li {
      padding: 0px 8px;
      &:first-child { padding-left: 0px; }
      &:last-child { padding-right: 0px; }
      // TODO(zmanji): This might be cargo cult
      white-space: nowrap;
      // Remove bullets
      list-style-image : none;
      list-style-type  : none;
    }
  }

  border-bottom: 1px solid $border-color;
}

pre, code, kbd {
  font-family: 'Cousine', monospace;
}

blockquote {
  padding-left: 1.5em;
  font-style: italic;
  border-left: 2px solid gray;

  font-size: 0.9rem;
  line-height: vr(0.9rem);
}

.small {
  font-size: 0.6rem;
  line-height: vr(0.6rem);
}

ul.post-list {
  padding: 0px;
  li {
    list-style: none;
    .date {
      float: right;
      font-style: italic;
      text-align: right;
    }
  }
}


// Pygments code boxes
.highlight {
  overflow-x: auto;
  border-radius: 10px;
  font-size: 0.9rem;
  line-height: vr(0.9rem);
  padding: 0 10px;
  pre {
    word-wrap: normal;
    white-space: pre;
  }
}

.posted {
  color: lighten($font-color,10);
  font-style: italic;
  text-align: left;

  font-size: 0.8rem;
  line-height: vr(0.8rem);
  margin-top: vr(-0.8rem);
}

#four-oh-four {
  font-size: 1.8rem;
  line-height: vr(1.8rem);
  text-align: center;
}

#greeting {
  font-size: 1.1rem;
  line-height: vr(1.1rem);
  text-align: center;
}

.footnotes {
  font-size: 0.7rem;
  line-height: vr(0.7rem);
}
